body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

.icon {
    font-size: 4em;
    margin-bottom: 20px;
}